body {
text-align: center;    
}

img {
height: 300px;
width: 300px;
}
#mycarousel {
background-color: dodgerblue;    
}
#mycarousel img {
height: 300px;
margin-bottom: 35px;
}
.carousel-inner p {
margin-bottom: 15px;
margin-top: 15px;
color: white;
font-size: 15px;    
}
#avengers {
height:400px;
width: 700px;    
}